.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.nav-menu {
  display: flex;
  gap: 10px;
  background-color: lightgrey;
  padding: 10px;
}

.blog {
  padding: 1rem;
  border: solid;
  border-width: 1px;
  margin-bottom: 1rem;
}
